# `SCATTER PLOT`

A scatter plot is a type of plot or mathematical diagram, where Cartesian coordinates are used to display values for typically two variables for a set of data. If the points are colour-coded, one additional variable can be displayed. The data is displayed as a collection of points, each having the value of one variable determining the position on the horizontal axis and the value of the other variable determining the position on the vertical axis. — Wikipedia

![](https://www.latestquality.com/wp-content/uploads/2018/05/interpreting-a-scatter-plot.jpg)

`FOR MORE INFORMATION NAVIGATE TO BELOW LINKS :`

1. [Website link](https://support.minitab.com/en-us/minitab-express/1/help-and-how-to/graphs/scatterplot/interpret-the-results/key-results/)
2. [Video link](https://youtu.be/PE_BpXTyKCE)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ipywidgets import IntSlider
from ipywidgets import interact
from ipywidgets import Layout
sns.set(style="darkgrid")
import warnings
warnings.simplefilter("ignore")

In [2]:
df = pd.read_csv("http://bit.ly/2cLzoxH")

In [3]:
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [4]:
df[["lifeExp","gdpPercap"]].corr().iloc[1,0]

0.5837062198659956

In [9]:
def plotyear(year):
    data = df[df.year == year]
    area = 3e-6 * data["pop"]
    colors = data.continent.map({'Africa': 'skyblue', 'Europe': 'gold',
                              'Americas': 'palegreen', 'Asia': 'coral',
                                'Oceania':"lightblue"})
    
    data.plot.scatter('lifeExp','gdpPercap',
                      s=area,c=colors,
                      linewidths=1,edgecolors='k',
                      figsize=(12,9))
    plt.ylabel(f'gdp per capita of year {year}')
    plt.xlabel(f"life expectancy of year {year}")
    plt.show()

In [10]:
interact(plotyear,year=IntSlider(min=1952,max=2007,step=5,layout=Layout(width='90%')));

interactive(children=(IntSlider(value=1952, description='year', layout=Layout(width='90%'), max=2007, min=1952…