In [97]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Users.csv")

In [3]:
df.head()

    Id       UserName        DisplayName RegisterDate  PerformanceTier
0    1     kaggleteam        Kaggle Team    3/24/2011                5
1  368   antgoldbloom  Anthony Goldbloom    1/20/2010                5
2  381         iguyon           Isabelle    1/29/2010                2
3  385      demonjosh         Demon Josh     2/2/2010                0
4  387  nicholasgruen     Nicholas Gruen     2/2/2010                0

In [66]:
df.shape
# Novice, Contributor, Expert, Master, and Grandmaster.

(2034456, 5)

In [65]:
# 6 unique values representing user's level on Kaggle's progression system
df.PerformanceTier.nunique()

6

In [82]:
df.groupby("PerformanceTier")["DisplayName"].nunique().rename(index = {0 : "Novice"})

PerformanceTier
Novice    1556940
1           48965
2            3823
3             999
4             126
5              60
Name: DisplayName, dtype: int64

In [73]:
df[df.PerformanceTier == 5]["DisplayName"]

0                Kaggle Team
1          Anthony Goldbloom
257               Ben Hamner
649                    Rowan
881               Jeff Moser
1190       William Cukierski
3503                    DanB
16584             DataCanary
24174              Wendy Kan
44629              inversion
97594          Phil Culliton
162673            Jerad Rose
216558          Anna Montoya
218936      Meghan O'Connell
256592         Myles O'Neill
262812        Flavio Fiszman
406146           ColinMorris
415978        Chris Crawford
425862          Megan Risdal
428189             Rand Seay
456512       Aurelio Agundez
524734         Julia Elliott
613204            Sam Harris
721721           Sean Bergam
741014      Cole Chamberlain
887054                Maggie
889510         Timo Bozsolik
943783         Mark McDonald
950883            Seb Boving
979656        Addison Howard
1014925          Sohier Dane
1042762       Rachael Tatman
1057407           Jim Plotts
1114939        Nathan Jervis
1122000         MichaelApers
1123802          Eyob Tefera
1179717         Stephen Sisk
1184426          Paul Mooney
1185109           Peijen Lin
1313122           Ces Cortez
1348426     Camille McMorrow
1394565       Elizabeth Park
1575574         Noah Daniels
1618217           Jessica Li
1634047      Rebecca Ysteboe
1692992             Don Jang
1705939        Vaishali Jain
1712129       Chelsea Raerek
1721854          Zach Diemer
1724696               Corrie
1731406          DJ Sterling
1789220           Jacky Wang
1794210        Mike Procopio
1794429         Ian Catindig
1819810    Vincent Roseberry
1871237               Dustin
1871787                   MJ
1885623          Will Guedes
1908957      Kaggle Kerneler
1959525               Rachel
Name: DisplayName, dtype: object

In [74]:
df[df.PerformanceTier == 4]["DisplayName"]

191             Alexander  Larko
361                    Sali Mali
419               Michael Jahrer
431              Yasser Tabandeh
486           Christopher Hefele
621            José H. Solórzano
734               David J. Slate
776                     Bluefool
842                 Charlie Tang
1121         Alexander D'yakonov
1173              Naokazu Mizuta
1188               Jeremy Howard
1233                  Eu Jin Lok
1249                Tim Salimans
1341                      B Yang
1453                      Sergey
1681            Sergey Yurgenson
1955                Vivek Sharma
2040                    Abhishek
2176            José A. Guerrero
2455                       Kohei
2594                        Zach
2750                  Jason Tigg
2760                        Glen
2785                 Stefan Henß
3003         Neil Schneider, FSA
3044                        Owen
3074                 Anil Thomas
3338                      jontix
3373      Alfonso Nieto-Castanon
                   ...
211902                 ash hafez
219388                     NxGTR
224239                   utility
232933                  Plankton
240040        Vladimir Iglovikov
242844             Alexey Noskov
251782                DeBut_Kele
252705               Bishwarup B
277522             Matias Thayer
286127             Nima Shahbazi
302251             Pavel Pleskov
334977                    Russ W
346190                    raddar
347192                  qianqian
348124                     n01z3
357430              Bojan Tunguz
361196                   bobutis
395029                   ZFTurbo
396101            Alberto Danese
408464                       sjv
426338               Kyle Y. Lee
435568                    anokas
449744            Evgeny Patekha
479294                   Fengari
489942                    piupiu
510146                    weiwei
621524               bestfitting
659979                  plantsgo
869457            thousandvoices
904829            Heads or Tails
Name: DisplayName, Length: 126, dtype: object

In [75]:
df[df.PerformanceTier == 3]["DisplayName"]

8               Julien Meynet
28             Dmitry Dryomov
64                   Quan Sun
146                       Ben
199                      Adam
203              Jure Zbontar
221                    Hug Mi
232              Dirk Nachbar
260            Jason Karpeles
344              Brian Elwell
370             Lewis Griffin
383               Yuchun Tang
458                    Albert
468                Ed Ramsden
558            Chris Raimondi
638                BlackMagic
645               David Vogel
651             Gilles Louppe
673                   Mikhail
690        Konrad Banachewicz
710           Yannis Sismanis
717                 Lee Baker
736                     Diogo
754                 Uri Blass
773              Peter W Frey
836                    joshnk
920               Cole Harris
937             John Dunavent
953                  jmalicki
960           Alec Stephenson
                  ...
999896                You Jia
1013990               xucheng
1016590                 light
1020054           Lukasz Grad
1026107                Master
1036619                <^..^>
1037778                 DATAI
1040238             Yibing Wu
1058397     kes | Glib Kechyn
1059933                  VZ24
1061959       Atanas Atanasov
1067602           Tianyu Pang
1069391               lyakaap
1069957                cpuwdl
1075195                   Ern
1093632          Andrey Golov
1130615              Lin12345
1130981    Arthur Stsepanenka
1137518           Kun Hao Yeh
1149323          Vlad Golubev
1237309                toshif
1243343            ouyangxuan
1329810      SomethingIsWrong
1350701                    RK
1385549                  Meyk
1391779              uuulearn
1398446           Moiz Saifee
1417738                 Alvor
1426956         Shivam Bansal
1571321             trian2018
Name: DisplayName, Length: 1000, dtype: object

In [76]:
df[df.PerformanceTier == 2]["DisplayName"]

2                     Isabelle
24                      maxqld
30                 Greg Werner
37              Donald Wedding
39               Andrew Carter
53                    Carlos S
68                Vikas Raykar
86                         Ben
136                Jason Trigg
139            Valentin Tiriac
142                   Clueless
147               Jonas Almlöf
155                   Xie Chao
161                      Santi
172        Hugo Jair Escalante
174               Enes Makalic
183               Ryan Feather
210               image_doctor
267                      Shrey
323                  Han Zhang
396                        tkw
421                 Dylan Hogg
429                         jk
430           Francois GUILLEM
434                Colin Green
496                   LOGERAIS
501               Marcos Sainz
534                  Paul Kerl
550                Emily Y. Lu
552               Erik Gregory
                  ...
1691757             Shiyi Chen
1694359            Terran Tang
1694377           Aaqib Naqati
1699604           Ann Antonova
1701451        Artyom Palvelev
1720592          Nikita Mcowey
1745459                 ysdtsy
1754970               atfujita
1758170             Jiajun Mao
1766474             Allan Chen
1776669                     BV
1777552                   Pooh
1779108           Zhengyuan Ye
1785987              GO FOR IT
1793266                 Sanket
1793376     Kristina Kalbasiuk
1800071    Nastassia Smolskaya
1801567            dineshbarri
1822898        Michael Francis
1834775             Jacob(현종열)
1835235         Diana Puzanava
1835524                  Ackie
1848495            Alex Caveny
1851142          Rei Matsuzaki
1881020                starhao
1902696                 Appian
1916291     Leonid Verkhovtsev
1957610            Xufan Zhang
1957844             Yui Kasuga
1964389        Toshiyuki Sakai
Name: DisplayName, Length: 3850, dtype: object

In [77]:
df[df.PerformanceTier == 1]["DisplayName"]

6                       Anand Jeyahar
10                             m4xl1n
11                      gérard dupont
12                      David Rolland
13                               Hugo
16                     Patrick Martin
21                        Will Fourie
29                   Harri Saarikoski
34                              Priya
40                    Leonardo Mendes
43                           David S.
44                             deepak
45                       Will Dampier
54                              Felix
56                             Andrew
57                              Jesse
59                             runner
66                           teaspoon
71                    Philip Harslett
74                        Fred Oswald
76                             JohanP
80                      Thomas Mahony
91                            tcash21
98                          Jon Palin
104                       Scuttlebutt
105                        multiboost
106                   Thymus Vulgaris
108                            Altons
114                        Jody Biggs
115                             Magus
                      ...
1998858                 Ken Nicholson
1999230                         karma
2000658                   James Chong
2001595               Maxwell Lincoln
2001793                 Paul Kaufmann
2001960                   Thao Truong
2002212                     Chao Ning
2002591           Vladimir Luchinskiy
2003898                  Debanjan Das
2003950    Venkata Raviteja Kolapalli
2004126                      dthacker
2004219                    Kon Wen Yu
2004256                        Romain
2004813                      Geoffrey
2008757                  superfitting
2009423                        Rams M
2009994                  Vaibhav Shah
2012061                       vineeth
2013268                        zͫeͬro
2015829                   PoopdiScoop
2021460                        Martin
2022086                       higepon
2023587                   Arek Noster
2024839                rashmi margani
2025040                     abhay1225
2025845               Daniel Schuette
2026833               Christian Greef
2027061                 WangXiangyuan
2028175                          Will
2031644                         Devon
Name: DisplayName, Length: 51499, dtype: object

In [78]:
df[df.PerformanceTier == 0]["DisplayName"]

3                      Demon Josh
4                  Nicholas Gruen
5              Vaibhav Srivastava
7                adrian stratulat
9                           jm302
14                 Martijn Wiertz
15                John Stachurski
17                   Felice Rando
18                         Deepak
19                       kaizokou
20                         Jianli
22           smitashree choudhury
23                        silence
25                    Kuo-Wei Hsu
26                           uday
27             roger balakrishnan
31                       Grzesiek
32                         Susana
33                      Zach Walz
35                        Ranjani
36                       dminer75
38                    Will Roscoe
41                       Fei Yang
42                       hkawakat
46           Mihai Claudiu Toader
47                            EvE
48                       bhaskarb
49                Neil Halelamien
50                  Eric Kaufmann
51                     Carlos Joa
                    ...
2034426               infinite4ar
2034427              Kenji Suzuki
2034428                     comer
2034429      Avinash Kumar Prasad
2034430                    mahset
2034431                   GazNewt
2034432                     Syuku
2034433                   PirayaS
2034434                NathalieBU
2034435                    slgray
2034436              Michał Basak
2034437                    meas90
2034438                   alberto
2034439                Ajay Saini
2034440          throwawaycomp309
2034441             Kristian-Emil
2034442                    BRIANA
2034443                    Tushar
2034444                   Nethaji
2034445                     Janik
2034446                 Mr.Gouman
2034447    Henry Heiberg Andersen
2034448                      Paul
2034449                      arun
2034450               lone wolfie
2034451               teggsdgreat
2034452            Sintia Rosanti
2034453          SOSTRADERDIGITAL
2034454          nettinhoviadinho
2034455                    Dharma
Name: DisplayName, Length: 1977921, dtype: object